# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\program\Java_project\hpeworks\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
